{% assign path_array = page.path | split: "/" %}

{% assign getting_started_plugins = site.plugins | where: "category", "getting-started" %}
{% assign sorted_plugins_by_getting_started = getting_started_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">Getting Started</h4>
    
    {% for plugin in sorted_plugins_by_getting_started %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   

{% assign basics_plugins = site.plugins | where: "category", "basics" %}
{% assign sorted_plugins_by_basics = basics_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">Basics</h4>
    
    {% for plugin in sorted_plugins_by_basics %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   

{% assign advanced_plugins = site.plugins | where: "category", "advanced" %}
{% assign sorted_plugins_by_advanced = advanced_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">advanced</h4>
    
    {% for plugin in sorted_plugins_by_advanced %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   



{% assign guides_plugins = site.plugins | where: "category", "guides" %}
{% assign sorted_plugins_by_guides = guides_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">Guides</h4>
    
    {% for plugin in sorted_plugins_by_guides %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   

{% assign integrations_plugins = site.plugins | where: "category", "integrations" %}
{% assign sorted_plugins_by_integrations = integrations_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">Integrations</h4>
    
    {% for plugin in sorted_plugins_by_integrations %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   


{% assign resources_plugins = site.plugins | where: "category", "resources" %}
{% assign sorted_plugins_by_resources = resources_plugins | sort_natural: "order" %}

<div class="nav-item top-level ">
    <h4 class="mb-md uppercase p-md opacity-50">Resources</h4>
    
    {% for plugin in sorted_plugins_by_resources %}                    
        {% if plugin.url contains path_array[1] %}
        <div class="nav-item {% if plugin.url == page.url %}current{% endif %}">
            <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ plugin.url }}">{{ plugin.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>   



